body {
    background-color: lightgray;
}
.chart {
    display: inline;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 9px;
}